{{define "homepage"}}
{{template "header"}}
            <h2>Your applications</h2>
            <p>Here you can see the added applications and change their settings.</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add
            </button>
            <!-- Window to add application -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add application</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">URL:</label>
                                    <input type="text" class="form-control" id="recipient-url">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Language:</label>
                                    <input type="text" class="form-control" id="recipient-language">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Framework:</label>
                                    <input type="text" class="form-control" id="recipient-framework">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="line"></div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col">Language</th>
                    <th scope="col">Framework</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Test Application</td>
                    <td>http://127.0.0.1/</td>
                    <td>Python</td>
                    <td>Django</td>
                    <td>Safe</td>
                </tr>
                </tbody>
            </table>

            <div class="line"></div>

{{template "footer"}}

{{end}}