{{define "vulnspage"}}
{{template "header"}}

            <h2>All vulnerabilities</h2>
            <p>You can see the full list of vulnerabilities here.</p>

            <div class="line"></div>

            {{if .IsNotEmpty}}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">CWE</th>
                    <th scope="col">Created</th>
                    <th scope="col">App</th>
                    <th scope="col">Path</th>
                </tr>
                </thead>
                <tbody>
                {{range .Vulns}}
                <tr>
                    <th scope="row">{{.Id}}</th>
                    <td>{{.Bug_name}}</td>
                    <td>{{.Bug_cwe}}</td>
                    <td>{{.Created_at}}</td>
                    <td>Test App</td>
                    <td>{{.Bug_Path}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
            {{else}}
            <p> There is no issues</p>
            {{end}}

            <div class="line"></div>

{{template "footer"}}
{{end}}
